# Data Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Read in the ticketmaster data from .csv
df = pd.read_csv('tm_events_040121_050121')
df.head(1)

,Unnamed: 0,TM_id,TM_name,TM_artist,TM_venue,TM_venue_city,TM_venue_state,TM_venue _lat,TM_venue_long,TM_date,...,max,min,type_x,primary,segment,genre,subGenre,type_y,subType,family
0,0,G5dIZp0wKy-SF,Justin Furstenfeld of Blue October (21+ Event)...,['Justin Furstenfeld'],Whitewater Amphitheater,New Braunfels,TX,29.862013,-98.156969,2021-04-24T01:00:00Z,...,102.0,43.0,standard,True,Music,Rock,Pop,"{'id': 'KZAyXgnZfZ7v7nI', 'name': 'Undefined'}","{'id': 'KZFzBErXgnZfZ7v7lJ', 'name': 'Undefined'}",False

In [4]:
#Shape of the dataframe
df.shape

(105, 28)

In [6]:
#Check all columns have unique names
df.columns.unique().value_counts()

min                      1
subGenre                 1
0                        1
TM_promoter              1
TM_venue_city            1
TM_timezone              1
TM_presale_date_start    1
TM_id                    1
genre                    1
segment                  1
type_x                   1
TM_span_multiple_days    1
subType                  1
currency                 1
Unnamed: 0               1
TM_name                  1
TM_artist                1
type_y                   1
primary                  1
TM_venue_state           1
TM_presale_date_end      1
TM_date                  1
max                      1
family                   1
TM_sale_date_start       1
TM_venue                 1
TM_venue _lat            1
TM_venue_long            1
dtype: int64

In [16]:
#Look at the summary info for the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             105 non-null    int64
 1   TM_id                  105 non-null    object
 2   TM_name                105 non-null    object
 3   TM_artist              105 non-null    object
 4   TM_venue               105 non-null    object
 5   TM_venue_city          105 non-null    object
 6   TM_venue_state         105 non-null    object
 7   TM_venue _lat          105 non-null    float64
 8   TM_venue_long          105 non-null    float64
 9   TM_date                105 non-null    object
 10  TM_timezone            105 non-null    object
 11  TM_span_multiple_days  105 non-null    bool
 12  TM_presale_date_start  58 non-null     object
 13  TM_presale_date_end    58 non-null     object
 14  TM_sale_date_start     105 non-null    object
 15  TM_promoter            105 non-null    object
 16  0                      0 non-null      float64
 17  currency               102 non-null    object
 18  max                    102 non-null    float64
 19  min                    102 non-null    float64
 20  type_x                 102 non-null    object
 21  primary                105 non-null    bool
 22  segment                105 non-null    object
 23  genre                  105 non-null    object
 24  subGenre               105 non-null    object
 25  type_y                 105 non-null    object
 26  subType                105 non-null    object
 27  family                 105 non-null    bool
dtypes: bool(3), float64(5), int64(1), object(19)
memory usage: 20.9+ KB

In [15]:
#Return count of null values for columns with nulls
df.isnull().sum(axis = 0)

Unnamed: 0                 0
TM_id                      0
TM_name                    0
TM_artist                  0
TM_venue                   0
TM_venue_city              0
TM_venue_state             0
TM_venue _lat              0
TM_venue_long              0
TM_date                    0
TM_timezone                0
TM_span_multiple_days      0
TM_presale_date_start     47
TM_presale_date_end       47
TM_sale_date_start         0
TM_promoter                0
0                        105
currency                   3
max                        3
min                        3
type_x                     3
primary                    0
segment                    0
genre                      0
subGenre                   0
type_y                     0
subType                    0
family                     0
dtype: int64

### Initial Preparation tasks:
- Reset index to TM_id
- Rename columns (cut out TM where it makes sense to do so)
- Drop columns:
    0 - No data for any observations
    Unnamed: 0 - Generic index (reset to TM_id)